// COLORS
$color-primary: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$color-primary-right: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$color-neutral-1: hsl(240, 78%, 98%);
$color-neutral-2: hsl(234, 14%, 74%);
$color-neutral-3: hsl(233, 13%, 49%);
$color-neutral-4: hsl(232, 13%, 33%)

